doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Me &amp; OpenBSD

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

        section(data-bespoke-hash='Title')
            h1.bullet Me &amp; OpenBSD
            h2.bullet A secure learning journey
            h3.bullet by <a href="http://www.schoolio.co.uk/diary/2017-02-13/" title="Me &amp; OpenBSD: ">Fred Crowson</a> 
                br
                a(href='http://twitter.com/fcbsd') @fcbsd

        section(data-bespoke-hash='Introduction')
            h1 Introduction


    script(src='build/build.js')
