doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Me &amp; OpenBSD

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

        section(data-bespoke-hash='Title')
            h1.bullet Me &amp; OpenBSD
            h2.bullet A secure learning journey
            h3.bullet by <a href="http://www.schoolio.co.uk/diary/2017-02-13/" title="Me &amp; OpenBSD: ">Fred Crowson</a> 
                br
                a(href='http://twitter.com/fcbsd') @fcbsd

        section(data-bespoke-hash='Introduction')
            h2.bullet Who Am I?
            h2.blue.bullet OpenBSD
            h2.rasp.bullet Professional Membership
            h2.bullet Life Long Learning &amp; CPD

        section(data-bespoke-hash='whoami')
            h1.bullet whoami
            h2.rasp.bullet Fred Crowson
            h2.blue.bullet OpenBSD user since OpenBSD 2.9 (2000)

        section(data-bespoke-hash='first-computer')
            h1.bullet Apple ][e
            h1.bullet Commodore PET 

        section(data-bespoke-hash='space-invaders')
            img(src='images/commodore_pet_spaceinvaders_ss02.png' alt="http://www.old-computers.com/museum/software/commodore_pet_spaceinvaders_ss02.png")

        section(data-bespoke-hash='OpenBSD')
            img(src='images/OpenBSD.gif' width='300px' alt='OpenBSD')
            h1 OpenBSD

        section(data-bespoke-hash='Libretto')
            img(src='images/libretto29.jpg' width='500px' alt='OpenBSD: Toshiba Libretto 70CT')
            h2 Toshiba Libretto

        section(data-bespoke-hash='cpd')
            h1 CPD
            h2 Continuing Professional Development


    script(src='build/build.js')
